body{
    margin: 0;
}
span, i{
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 50px;
}
.div{
    background-color: #DAD0FF;
    height: 45px;
}
img{
    width: 1400px;
    height: 700px;
}